---
- name: Copy XinitRC config file
  sudo: yes
  template:
    src: ../../templates/archlinux/xinitrc.j2
    dest: "/etc/X11/xinit/xinitrc"
    mode: 0644
  tags:
    - archlinux

- name: Copy Slim config file
  sudo: yes
  template:
    src: ../../templates/common/slim.conf.j2
    dest: "/etc/slim.conf"
    mode: 0644
  tags:
    - archlinux

- name: Disable other Login Managers service
  sudo: yes
  service:
    name: "{{ item }}"
    enabled: no
  with_items:
    - gdm
    - kdm
    - lightdm

  tags:
    - archlinux

- name: Enable Slim service
  sudo: yes
  service:
    name: slim
    enabled: yes
  tags:
    - archlinux
