---
- name: Copy XinitRC config file
  template:
    src: ../../templates/common/xinitrc.j2
    dest: "{{ ansible_env.HOME }}/.xinitrc"
    mode: 0644

- name: Copy Slim config file
  sudo: yes
  template:
    src: ../../templates/common/slim.conf.j2
    dest: "/etc/slim.conf"
    mode: 0644

- name: Disable other Login Managers service
  sudo: yes
  service:
    name: "{{ item }}"
    enabled: no
  with_items:
    - gdm
    - kdm
    - lightdm

- name: Enable Slim service
  sudo: yes
  service:
    name: slim
    enabled: yes
